<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/template.css">
</head>
<body>
  <div class="wrap">
    <header>
      <div>header 80px</div>
    </header>
    <nav>gnb</nav>
    <aside>search</aside>
    <main>
      <h3>페이지 제목</h3>
      <div class="container">
        <h4>서브 제목1</h4>
        <ul class="cont_list">
          <li>내용1</li>
          <li>내용2</li>
          <li>내용3</li>
          <li>내용4</li>
          <li>내용5</li>
          <li>내용6</li>
          <li>내용7</li>
          <li>내용8</li>
          <li>내용9</li>
          <li>내용10</li>
        </ul>
        <h4>서브 제목2</h4>
        <div class="cont1">컨텐츠</div>
        <h4>서브 제목3</h4>
        <div class="cont2"><span>컨텐츠1</span><span>컨텐츠2</span></div>
      </div>
    </main>
    <footer>footer</footer>
  </div>
</body>
</html>